.app {
  &__header {
    ul,
    li {
      display: block;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;

      & + li {
        margin-left: 10px;
      }
    }
  }
  
  &__body__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__page {
    &--blank {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      span {
        display: block;
        color: #ccc;
        font-size: 2rem;
      }
    }
  }
}